.alert {
	padding: 16px;
	border: 1px solid rgb(200,200,200);
	background: rgb(245,245,245);
	margin-bottom: 16px;
}

.alert p {
	margin: 0;
}

.alert.warning {
	color: rgb(220,165,80);
	background: rgba(255, 255, 0, 0.05);
	border-color: rgb(230,175,90);
}

.alert.danger {
	color: rgb(210, 70, 70);
	background: rgba(250, 0, 0, 0.05);
	border-color: rgb(220, 80, 80);
}

.alert.success {
	color: rgb(80, 175, 80);
	background: rgba(0, 255, 0, 0.05);
	border-color: rgb(90, 185, 90);
}

.alert.info {
	color: rgb(80, 180, 210);
	background: rgba(0, 128, 255, 0.05);
	border-color: rgb(90, 190, 220);
}