.button {
	font-size: 1.5em;
	padding: 8px 16px;
	margin: 0px;
	border: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	background-size: auto 200% !important;

	&.extra-small {
		padding: 4px 8px;
		font-size: 0.857em;
	}

	&.small {
		padding: 8px 16px;
	}

	&.medium {
		padding: 10px 24px;
	}

	&.large {
		padding: 14px 32px;
	}

	&.extra-large {
		padding: 18px 40px;
		font-size: 1.143em;
		font-weight: bold;
	}

	&.input {
		margin-left: -8px;
	}

	&.toggle.active {
		@extend .button.green;
	}
}