.callout {
	padding: 16px;
	border-left-width: 4px;
	border-left-style: solid;
	background: rgb(245,245,245);
	margin-bottom: 16px;

	p {
		margin: 0;
	}

	@for $index from 1 through 6 {
		h#{$index} {
			font-weight: 400;
		}
	}

	&.warning {
		background: rgba(255, 255, 0, 0.05);
		border-left-color: rgb(230, 175, 90);

		@for $index from 1 through 6 {
			h#{$index} {
				color: rgb(230,175,90);
			}
		}
	}

	&.danger {
		background: rgba(250, 0, 0, 0.05);
		border-left-color: rgb(220, 80, 80);

		@for $index from 1 through 6 {
			h#{$index} {
				color: rgb(220, 80, 80);
			}
		}
	}

	&.success {
		background: rgba(0, 255, 0, 0.05);
		border-left-color: rgb(90, 185, 90);

		@for $index from 1 through 6 {
			h#{$index} {
				color: rgb(90, 185, 90);
			}
		}
	}

	&.info {
		background: rgba(0, 128, 255, 0.05);
		border-left-color: rgb(90, 190, 220);

		@for $index from 1 through 6 {
			h#{$index} {
				color: rgb(90, 190, 220);
			}
		}
	}
}