h1 {
	font-family: 'dragon_is_comingregular';
	font-size: 200px;
	color: $pink;
}

h2 {
	font-family: 'dragon_is_comingregular';
	font-size: 80;
	color: #c600c0;
}

h3 {
	font-family: 'geosanslightregular';
	color: #c600c0;
}

.banner {
	padding: 0;
}

// Left Sidebar

.left-sidebar {
	width: 100%;
	position: relative;
	border: 2px solid $purple;
}

.features li {
	list-style: url(../img/bullet-round.png);
	margin-left: 13px;
	font-size: 15px;
}

.sidebar-header {
	font-size: 87px;
	font-family: 'dragon_is_comingregular';
	color: $white;
	padding: 4px;
	background: $purple;
}

.features {
	margin: 10px;
	font-size: 15px;
}

.learn-more {
	text-align: center;
	margin-top: 50px; 
}

.learn-more img {
	margin: 0 auto;
}

.sidebar-footer {
	font-size: 24px;
	font-family: 'geosanslightregular';
	color: $black;
	margin: 8px;
}


.features img {
	padding: 10px;
}

.ui-widget-content {
	background: rgba(255, 255, 255, 1) !important;
	border-radius: 0px !important;
	border: 1px solid rgba(0, 0, 0, 0.68) !important;
	margin-top: -29px !important;
}

.social-media {
	position: relative;
	left: 12px;
}

// Input Styles

.email-submit {
	width: 100%;
	margin: 10px 0 0 0;
	padding: 14px 0;
	text-align: center;
	font-family: 'geosanslightregular';
	font-size: 28px;
}

fieldset {
	border: none;
	padding: 0;
}

.input {
	height: 55px;
	border: 2px solid $purple;
	font-size: 1.5em;
	font-family: 'Open Sans', Arial, sans-serif;
	width: 100%;
	margin: 10px 0 0 0;
}

.input::-webkit-input-placeholder {
	color: $purple;
}

.input:-moz-placeholder { /* Firefox 18- */
	color: $purple;  
}

.input::-moz-placeholder {  /* Firefox 19+ */
	color: $purple;  
}

.input:-ms-input-placeholder {  
	color: $purple;  
}

