h1 {
	font-family: 'dragon_is_comingregular';
	font-size: 200px;
	color: #c600c0;
}

h2 {
	font-family: 'dragon_is_comingregular';
	font-size: 80;
	color: #c600c0;
}

h3 {
	font-family: 'geosanslightregular';
	color: #c600c0;
}