.feature {
	width: 100%;
	padding-top: 64px;
	padding-bottom: 64px;
	text-align: center;
}

.feature .row {
	margin-bottom: 32px;
}

.feature img {
	margin-left: auto;
	margin-right: auto;
}

.feature i {
	font-size: 128px;
	padding: 8px;
}