.progress {
	width: 100%;
	height: 16px;
	margin-bottom: 16px;
	background: rgba(255, 255, 255, 0.2);
	overflow: hidden;
}

.progress .bar {
	float: left;
	height: 100%;
	width: 0%;
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
}

.progress:hover .bar {
	width: 100%;
}

.progress .bar.success {
	background: $green;
}

.progress .bar.info {
	background: $blue;
}

.progress .bar.warning {
	background: $orange;
}

.progress .bar.danger {
	background: $red;
}