.menu-wrapper {
		background: lighten($black, 10%);
	}

.menu-wrapper ul li {
	list-style-type: none;
	position: relative;
}

.header .menu-wrapper ul li.current-menu-item a {
	box-shadow: inset 0px -4px $blue, 0px 1px rgba(0,0,0,0.5);
}

.header .menu-wrapper ul:after {
	clear: both;
	display: block;
	content: '';
}

.header .menu-wrapper ul li {
	display: inline-block;
	float: left;
}

.header .menu-wrapper ul li a {
	display: inline-block;
	padding: 16px;
}

.sidebar .menu-wrapper ul li a {
	display: block;
	padding: 16px;
}

.menu-wrapper ul li a:hover + ul {
	display: inline-block;
}

.menu-wrapper ul li ul {
	position: absolute;
	z-index: 10;
	display: none;
	top: 100%;
	width: auto;
}

.menu-wrapper ul li ul li a {
	width: 128px;
}

.menu-wrapper ul li ul:hover {
	display: inline-block;
}

.menu ul li ul li ul {
	position: absolute;
	z-index: 10;
	display: none;
	left: 100%;
	top: 0;
}

.header .menu .sub-menu .menu-item-has-children:after {
	position: absolute;
	content: '';
	top: 20px;
	right: 8px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 6px solid rgba(255,255,255,1);
	pointer-events: none;
}

.header .menu-wrapper .menu-toggle {
	cursor: pointer;
}

.header .menu input[type=checkbox] {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
}

.header .menu label {
	display: none;
	cursor: pointer;
	user-select: none;
}

.header .menu {
	position: relative;
}

.header .menu ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	list-style: none;
}

.header .menu ul li {
	float: left;
	cursor: pointer;
}

@media screen and (max-width: 800px) {

	.header {
		position: fixed;
	}

	.header .menu {
		width: 100%;
	}

	.header .menu li {
		width: 100%;
	}

	.header .menu li a {
		width: 100%;
	}

	.header .menu>div {
		position: fixed;
		width: 100%;
	}

	.header .menu-wrapper {
		float: none !important;
		background: light($black, 10%);
	}

	.header .menu-wrapper .menu-toggle {
		display: block;
		background: lighten($black, 10%);
		min-height: 51px;
		position: fixed;
		z-index: 99;
		min-width: 56px;
		right: 0;
		top: 0;
	}

	.header .menu-wrapper .menu-toggle:hover {
		background: lighten($black, 20%);
	}
	
	.header .menu-wrapper .menu-toggle:after {
		position: absolute;
		right: 16px;
		top: 16px;
		content: "";
		padding-top: 4px;
		border-bottom: 12px double $white; 
		border-top: 4px solid $white; 
		height: 8px; 
		width: 24px;
	}

	.header .menu-wrapper ul li.current-menu-item a {
		box-shadow: inset 4px 0px $blue;
	}

	.header .menu-wrapper ul.menu {
		display: none;
	}

	.header .menu ul li a:hover + ul {
		display: none;
	}
}