.select {
	position: relative;
	display: inline-block;
}

select {
	margin: 0;
	padding: 0;
}

.select select {
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: transparent;
	border-color: transparent;
	padding: 6px 24px 6px 12px;
}

.select option {
	color: black;
	background: white;
}

.select:after {
	position: absolute;
	content: '';
	display: inline-block;
	top: 50%;
	margin-top: -2px;
	right: 12px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid rgb(255,255,255);
	margin-bottom: 2px;
	pointer-events: none;
}