.callout {
  padding: 16px;
  border-left-width: 4px;
  border-left-style: solid;
  background: whitesmoke;
  margin-bottom: 16px;
}

.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5,
.callout h6 {
  font-weight: 400;
}

.callout p {
  margin: 0;
}

.callout.warning {
  background: rgba(255, 255, 0, 0.05);
  border-left-color: #e6af5a;
}

.callout.warning h1,
.callout.warning h2,
.callout.warning h3,
.callout.warning h4,
.callout.warning h5,
.callout.warning h6 {
  color: #e6af5a;
}

.callout.danger {
  background: rgba(250, 0, 0, 0.05);
  border-left-color: #dc5050;
}

.callout.danger h1,
.callout.danger h2,
.callout.danger h3,
.callout.danger h4,
.callout.danger h5,
.callout.danger h6 {
  color: #dc5050;
}

.callout.success {
  background: rgba(0, 255, 0, 0.05);
  border-left-color: #5ab95a;
}

.callout.success h1,
.callout.success h2,
.callout.success h3,
.callout.success h4,
.callout.success h5,
.callout.success h6 {
  color: #5ab95a;
}

.callout.info {
  background: rgba(0, 128, 255, 0.05);
  border-left-color: #5abedc;
}

.callout.info h1,
.callout.info h2,
.callout.info h3,
.callout.info h4,
.callout.info h5,
.callout.info h6 {
  color: #5abedc;
}
