@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/*================================ Colors ==============================*/
/*================================ Fonts ==============================*/
/*================================ Main ================================*/
/* Set to same as footer */
html {
  background: #4a4a4a;
}

body {
  color: white;
  background: #262626;
  position: relative;
  z-index: -2;
}

.background {
  background: url("../img/triangles.svg") center center;
  opacity: 0.15;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #e6e6e6;
}

a:hover {
  color: white;
}

hr {
  border-bottom: 1px solid #bfbfbf;
}

/*================================ Banner ==========================*/
.banner {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(to right, rgba(150, 90, 180, 0.6), rgba(40, 150, 220, 0.6));
}

/*================================ Page Width ==========================*/
.max {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*================================ Logo ================================*/
.logo a {
  color: #e6e6e6;
  text-shadow: 0px 1px 1px black;
}

.logo a:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

/*================================ Header ==============================*/
.header {
  box-shadow: 0px 1px rgba(255, 255, 255, 0.15);
  background: linear-gradient(to bottom, #262626, #1a1a1a);
}

.header .menu li a {
  color: #e6e6e6;
  background: linear-gradient(to bottom, #333333, #262626);
}

.header .menu li a:hover {
  color: white;
  background: linear-gradient(to bottom, #404040, #333333);
}

/*================================ Sidebar =============================*/
.sidebar {
  background: #e6e6e6;
  width: 256px;
}

.sidebar .menu li a {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.2);
}

.sidebar .menu li a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

/*================================ Slider ==============================*/
/* Slide Width */
ul.slider li.slide {
  max-height: 400px;
}

/* Caption */
ul.slider li.slide .caption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

/*================================ Tables ==============================*/
.table table {
  background: light(black, 20%);
}

/*================================ Inputs ==============================*/
/* Default Button */
.button {
  background: linear-gradient(to);
  color: black;
}

.button:hover {
  background: #828282;
}

.button:active {
  background: #787878;
}

/* Blue Button */
.button.blue {
  background: #4682f0;
  color: white;
}

.button.blue:hover {
  background: #4f88f1;
}

.button.blue:active {
  background: #3d7cef;
}

.button.blue.outline {
  background: transparent;
  color: #4682f0;
  border: 1px solid #4682f0;
}

.button.blue.outline:hover {
  background: #4682f0;
  color: white;
}

.button.blue.outline:active {
  background: #3d7cef;
}

/* Red Button */
.button.red {
  background: #dc1e1e;
  color: white;
}

.button.red:hover {
  background: #e12323;
}

.button.red:active {
  background: #d31d1d;
}

.button.red.outline {
  background: transparent;
  color: #dc1e1e;
  border: 1px solid #dc1e1e;
}

.button.red.outline:hover {
  background: #dc1e1e;
  color: white;
}

.button.red.outline:active {
  background: #d31d1d;
}

/* Orange Button */
.button.orange {
  background: #f0aa50;
  color: white;
}

.button.orange:hover {
  background: #f1af59;
}

.button.orange:active {
  background: #efa547;
}

.button.orange.outline {
  background: transparent;
  color: #f0aa50;
  border: 1px solid #f0aa50;
}

.button.orange.outline:hover {
  background: #f0aa50;
  color: white;
}

.button.orange.outline:active {
  background: #efa547;
}

/* Purple Button */
.button.purple {
  background: #7346b4;
  color: white;
}

.button.purple:hover {
  background: #784bb9;
}

.button.purple:active {
  background: #6e43ad;
}

.button.purple.outline {
  background: transparent;
  color: #7346b4;
  border: 1px solid #7346b4;
}

.button.purple.outline:hover {
  background: #7346b4;
  color: white;
}

.button.purple.outline:active {
  background: #6e43ad;
}

/* Green Button */
.button.green {
  background: #50a032;
  color: white;
}

.button.green:hover {
  background: #54a834;
}

.button.green:active {
  background: #4c9830;
}

.button.green.outline {
  background: transparent;
  color: #50a032;
  border: 1px solid #50a032;
}

.button.green.outline:hover {
  background: #50a032;
  color: white;
}

.button.green.outline:active {
  background: #4c9830;
}

/* White Button */
.button.white {
  background: white;
  color: black;
}

.button.white:hover {
  background: white;
}

.button.white:active {
  background: #fafafa;
}

.button.white.outline {
  color: white;
  background: transparent;
  border: 1px solid white;
}

.button.white.outline:hover {
  background: white;
  color: black;
}

.button.white.outline:active {
  background: #fafafa;
}

/* Black Button */
.button.black {
  background: black;
  color: white;
}

.button.black:hover {
  background: rgba(0, 0, 0, 0.9);
}

.button.black.outline {
  color: black;
  background: transparent;
  border: 1px solid black;
}

.button.black.outline:hover {
  background: black;
  color: white;
}

/*================================ Pre-Footer ==========================*/
.pre-footer .column:not(:last-child) {
  border-right: 1px solid gray;
}

/*================================ Footer ==============================*/
.footer {
  background: #323232;
}

.footer a {
  color: rgba(255, 255, 255, 0.9);
}

.footer a:hover {
  color: white;
}

/*================================ Rounded Corners =====================*/
.round {
  border-radius: 4px;
}

.round.top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.round.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.round.bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.round.left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
